@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --cor-principal: #6c5fff;
    --cor-01:#f9f9f9;
    --cor-02:#dfdfdf;
    --cor-03: #b3acfc;
    --cor-04: #484191;
    --cor-05:#232323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--cor-02);
    color: var(--cor-05);
}

header{
    background-color: var(--cor-05);
    color: var(--cor-02);
    
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

header span{
    color: var(--cor-principal);
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}


nav a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: 0.5s;

}

a:hover{
    color: var(--cor-principal);
}

.menu-responsivo{
    display: none;
}

.menu-responsivo i{
    font-size: 3rem;
}


/* ==============noticias============= */
main{
    margin: 5rem auto;
}

article{
    background-color: var(--cor-03);
    height: 16rem;
    margin: 0 5rem 1rem;
    display: grid;
    grid-template-columns: 16rem auto;
    padding: 1rem;
    border-radius: 0.625rem;
    transition: 0.5s;
    overflow: hidden;
}

article p {
    margin-top: 1rem;
    text-align: justify;
}

article:hover {
    cursor: pointer;
    transform: scale(1.01);
    /*          X   Y   desfoque    espessura   cor */
    box-shadow: 0   0   0.5rem      0.1rem      var(--cor-03);
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto {
    overflow: hidden;
    margin-right: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.foto img {
    height: 100%;

}

.leiamais{
    font-weight: 700;
    color: var(--cor-04);
    text-align: right;
    padding: 1rem;
}

.texto{
    max-height: 8rem;
    overflow: hidden;
}





/* ==============rodape============= */
footer{
    background-color: var(--cor-05);
    color: var(--cor-02);
    padding: 1rem 5rem;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    opacity: 0.6;
}


/* ========== Media Queries ========== */


/* XS Extra Small - celular retrato(portrait) */
@media(max-width: 576px){

    .menu{
        display: none;
    }

    .menu-responsivo{
        display: block;
    }
    

    article{
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    }
    .foto img {
        width: 100%;
    
    }
    .foto {
        margin-right: 0;
    }

    header{
        background-color: #ff69b4;
        padding: 1rem 2rem;
    }
}

/* SM Small - celular paisagem(landscape) */
@media(min-width: 576px){

    .menu{
        display: none;
    }

    .menu-responsivo{
        display: block;
    }
    
 
    article{
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    }
    .foto img {
        width: 100%;    
    
    }
    .foto {
        margin-right: 0;
    }

    header{
        background-color: #100c87;
        padding: 1rem 2rem;
    }
}
/* MD Tablet */
@media(min-width: 768px){

    .menu{
        display: none;
    }

    .menu-responsivo{
        display: block;
    }
    
 
    article{
        margin: 3rem;
    }
    

    header{
        background-color: #ef740f;
        padding: 1rem 3rem;
    }
}